<div class="container">
  <div class="row">
    <div class="col-md-auto mb-3" style="background-color: #DDDDDD;">
      <h3>商品新規登録</h3>
    </div>
  </div>

  <%= form_with model:@item, url:admin_items_path, method: :POST, local: true do |f| %>
    <div class="form-group row">
      <label for="image" class="col-sm-2 col-form-label">商品画像</label>
      <div class="col-sm-10">
        <%= f.attachment_field :image %>
      </div>
    </div>

    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">商品名</label>
      <div class="col-sm-10">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="form-group row">
      <label for="introduction" class="col-sm-2 col-form-label">商品説明</label>
      <div class="col-sm-10">
        <%= f.text_area :introduction %>
      </div>
    </div>

    <div class="form-group row">
      <label for="genre" class="col-sm-2 col-form-label">ジャンル</label>
      <div class="col-sm-10">
        <%= f.collection_select(:genre_id, @genres, :id, :name, {include_blank: '--選択してください--'}) %>
      </div>
    </div>

    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">税抜価格</label>
      <div class="col-sm-10">
        <%= f.text_field :price %>
      </div>
    </div>

    <div class="form-group row">
      <label for="is_active" class="col-sm-2 col-form-label">販売ステータス</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <%= f.radio_button :is_active, "true" %>
          販売中
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :is_active, "false" %>
          販売停止中
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <%= f.submit '新規登録', class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>