<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto mb-3 bg-light">
      <h3>商品詳細</h3>
    </div>
    <div class="col-md-8">
    </div>
  </div>
  </br>

  <div class="row">
    <div class="col-3">
      <%= attachment_image_tag @item, :image, format: 'jpg', size: "200x200" %>
    </div>

    <table class="col-6">
      <tr>
        <th class="col-sm-2">商品名</th>
        <td class="col-sm-3" ><%= @item.name %></td>
      </tr>

      <tr>
        <th class="col-sm-2">商品説明</th>
        <td class="col-sm-3"><%= @item.introduction %></td>
      </tr>

      <tr>
        <th class="col-sm-2">ジャンル</th>
        <td class="col-sm-3"><%= @item.genre.name %></td>
      </tr>

      <tr>
        <th class="col-sm-2">税込価格 </br>(税抜価格)</th>
        <td class="col-sm-3"><%= (@item.price * 1.1) .to_i.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>) 円</td>
      </tr>

      <tr>
        <th class="col-sm-2 col-form-p">販売ステータス</th>
          <% if @item.is_active == true %>
            <td class="text-success font-weight-bold col-sm-3">
              販売中
            </td>
          <% else %>
            <td class="text-muted font-weight-bold col-sm-3">
              販売停止中
            </td>
          <% end %>
      </tr>
    </table>
  </div>
  </br>
  <div class="row justify-content-center">
    <%= link_to "編集する", edit_admin_item_path, class: "btn btn-success" %>
  </div>

</div>