<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto mb-3 bg-light">
      <h3>ジャンル一覧・追加</h3>
    </div>
    <div class="col-md-8">
    </div>
  </div>

  </br>

  <%= form_with model:@genre, url:admin_genres_path, method: :post, local: true do |f| %>
    <div class="form-group row">
      <label for="genre_name", class="col-sm-2 col-form-label font-weight-bold">ジャンル名</label>
      <div class="col-sm-3 d-flex align-items-center">
        <%= f.text_field :name %>
      </div>
      <div class="col-sm-2 d-flex align-items-center">
        <%= f.submit '新規登録', class: "btn btn-success btn-block" %>
      </div>
    </div>
  <% end %>

  </br>

  <div class="row">
  <table class="table col-4">
    <thead class="bg-light">
      <th>ジャンル</th>
      <th></th>
    </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td class= "col-2"><%= genre.name %></td>
            <td class= "col-1"><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success btn-sm btn-block" %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
  </div>
</div>