<div class="container">
  <div class="row">
    <div class="col-md-auto mb-3 bg-light">
      <h3>新規会員登録</h3>
    </div>
  </div>


<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="form-group row">
    <label for="customer_name" class="col-sm-3 col-form-label">名前</label>
    <div class="col-sm-8">
      <span>(姓)　</span>
      <%= f.text_field :last_name, class:"col-4" %>
      <span>(名)　</span>
      <%= f.text_field :first_name, class:"col-4" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="customer_name" class="col-sm-3 col-form-label">フリガナ</label>
    <div class="col-sm-8">
      <span>(セイ)</span>
      <%= f.text_field :last_name_kana, class:"col-4" %>
      <span>(メイ)</span>
      <%= f.text_field :first_name_kana, class:"col-4" %>
    </div>
  </div>


  <div class="form-group row">
    <label for="customer_email" class="col-sm-3 col-form-label">メールアドレス</label>
    <div class="col-sm-9">
      <%= f.email_field :email, class:"col-4" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="customer_email" class="col-sm-3 col-form-label">郵便番号(ハイフンなし)</label>
    <div class="col-sm-9">
      <%= f.text_field :postal_code, class:"col-4" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="customer_email" class="col-sm-3 col-form-label">住所</label>
    <div class="col-sm-9">
      <%= f.text_field :address, class:"col-7" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="customer_email" class="col-sm-3 col-form-label">電話番号(ハイフンなし)</label>
    <div class="col-sm-9">
      <%= f.text_field :telephone_number, class:"col-4" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="customer_email" class="col-sm-3 col-form-label">
      パスワード
      <% if @minimum_password_length %>
        (<%= @minimum_password_length %> 文字以上)
      <% end %>
    </label>
    <div class="col-sm-9">
      <%= f.password_field :password, class:"col-4" %>
    </div>
  </div>

  <div class="form-group row">
    <label for="customer_email" class="col-sm-3 col-form-label">パスワード(確認用)</label>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, class:"col-4" %>
    </div>
  </div>

  <div class="actions col-sm-2">
    <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
  </div>
<% end %>
</br>
</br>
<div class="row">
    <div class="col-md-auto mb-3 bg-light">
      <div>既に登録済みの方</div>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-sm-5">
        <%= render "public/shared/links" %>からログインしてください。
    </div>
  </div>
</div>