<h2>ログイン</h2>

<div>会員の方はこちらからログイン</div>
<%= form_with model: @customer, url: customer_session_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>


<div>会員登録がお済みでない方</div>
<%= render "public/shared/links" %>から新規登録を行ってください。